[Unit]
Description=Local HTTP service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=dummy_directory/sos_dash/dist
ExecStart=python3 -m http.server 80

StandardError=journal
StandardOutput=journal
StandardInput=null


[Install]
WantedBy=multi-user.target
