audio_input_selector: 'hw:'   # string descriptor for ALSA hardware device
input_num: 0                  #  integer index pointing to input device 
audio_sample_rate: 48000
db_filename: 'speed.db'
num_vectors: 100        # number of vectors to store for historical analysis
mic_spacing: 0.436       # microphone spacing in meters
neg_sens_dist: 28.8         # distance from microphones to road lane in meters for negative speeds
pos_sens_dist: 32.0       # distance from microphones to road lane in meters for positive speeds
temperature: 0.0        # air temperature in C
frame_size: 8192        # number of samples in fft analysis window
noise_floor: 100      # scale factor representing noise level
delay_offset_ms: -0.027     # apparent offset in boresight position in ms

